$font-path: "../fonts";
$themecolor: #fb9678;
$themecolor-alt: #26c6da;
$themecolor-primary: #2662da;
$themecolor-secondary: #da2626;
$sidebar: #fff;
$sidebar-alt:#f9f9f9;
$sidebar-text: #8d97ad;
$sidebar-icons: #787f91; 
$shadow:1px 0px 20px rgba(0, 0, 0, 0.08);
$lft:left;
$rgt:right;